<div class="container">
<h1>Our Flats</h1>


<br><br>

<div class="d-flex flex-row flex-wrap justify-content-between">
  <% @flats.each do |flat| %>
    <div class="card m-2" style="width: 22rem;">
     <%= image_tag "https://source.unsplash.com/featured/?house", alt: "jimmy", width: 125, class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.description %></p>
        <%= link_to "Detail", flat_path(flat), class: "btn btn-primary" %>
      </div>
    </div>

  <% end %>

</div>







</div>
